{% extends "base.html" %}

{% block title %}
{% trans %}Services status{% endtrans %}
{% endblock %}

{% block content %}
{% if config["PROTOS_URL"] %}
{% call macros.table() %}
<tr>
  <th>{% trans %}Service{% endtrans %}</th>
  <th>{% trans %}Status{% endtrans %}</th>
  <th>{% trans %}PID{% endtrans %}</th>
</tr>
{% for name, service in services.items() %}
<tr>
  <td>{{ name }}</td>
  <td><span class="label label-{{ "success" if service['status'] == 'ok' else "danger" }}">{{ service['status'] }}</span></td>
  <td>{{ service['pid'] }}</td>
</tr>
{% endfor %}
{% endcall %}
{% else %}
{% call macros.table() %}
<tr>
  <th>{% trans %}Service{% endtrans %}</th>
  <th>{% trans %}Status{% endtrans %}</th>
  <th>{% trans %}PID{% endtrans %}</th>
  <th>{% trans %}Image{% endtrans %}</th>
  <th>{% trans %}Started{% endtrans %}</th>
  <th>{% trans %}Last update{% endtrans %}</th>
</tr>
{% for name, service in services.items() %}
<tr>
  <td>{{ name }}</td>
  <td><span class="label label-{{ "success" if service['State']['Running'] else "danger" }}">{{ service['State']['Status'] }}</span></td>
  <td>{{ service['State']['Pid'] }}</td>
  <td>{{ service['Config']['Image'] }}</td>
  <td>{{ service['State']['StartedAt'] }}</td>
  <td>{{ service['Image']['Created'] }}
</tr>
{% endfor %}
{% endcall %}
{% endif %}
{% endblock %}
